@use 'config';

@include config.media-md{
    .container{
        width: 50%;
    }
}
@include config.media-lg{
    .container{
        flex-direction: row;
        width: 80%;

        .main-text{
            margin-bottom: 5em;
        }
    }
}